body {
    color: white;
    background-color: rgb(156, 72, 16);
    font-family: Arial, Helvetica, sans-serif;
}

section{
    border: solid transparent 2px;
    padding: 15px;

    border-color:#8b4b16 ;
    text-align: justify;
}
ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}

a {
    color: white;
    text-decoration: none;
}

header h1{
    text-align: center;
}
header h2{
    text-align: center;
}

header img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #05359e;
}

.center {
    text-align: center;
}

h1 {
    color: #1215ad;
    font-family: Verdana, Geneva, Tahoma, sans-serif
    
}
h3{
    font-size: 35px;
}

footer img {
    width: 40px;
    height: 40px;
}

footer {
    display: flex;
    justify-content: center;
}

footer a {
    margin: 20px;
    text-align: center;
}

footer p {
    margin-top: 2px;
}

.container {
    padding: 0px 50px;
}

nav a {
    font-size: 20px;
}

nav a:hover {
    background: linear-gradient(white, white) padding-box, linear-gradient(to right, #13f78c, #0be6e6, #f700c5) border-box;
	border-radius: 50em;
	border: 3px solid transparent;
	position: relative;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	font-size: 1.2em;
	font-weight: bold;
	text-decoration: none;
	color: #10a87d;
	padding: 0.5em 1.5em;
	cursor: pointer;
}

nav a::shadow {
    color: black;

}
.left{
    text-align: right;
}

    #Livro img:hover {
        background-color: #f59d38;
    }


#Livro img{
    width: 150px;
    height: 150px;
    padding: 5px;
    margin: 55px;
    border: 20px;
    position: relative;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1em;
    color: #000000;
    font-weight: bold; 
    
    cursor: pointer;
    text-decoration: none;
    border-width: 3px;
    border-style: solid;
    border-image: linear-gradient(to right, #4395ff, #fffb12, #f00808) 1;
   
    

}
 .left{
    display: flex;
    width: 150px;
    justify-content:space-between;
 }


button {
    color: black;
    background-color: white;
    border: none;
    width: 100px;
    height: 30px;
}

#filme img{

    width: 150px;
    height: 150px;
    padding: 5px;
    margin: 46px;
    
    position: relative;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1em;
    color: #000000;
    font-weight: bold; 
    
    cursor: pointer;
    text-decoration: none;
    border-width: 3px;
    border-style: solid;
    border-image: linear-gradient(to right, #4395ff, #fffb12, #f00808) 1;


}


#filme ol{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
     
}


ol {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.right {
    display: flex;
    justify-content: center;
}
    

#Livro a:hover {
    text-decoration: underline;
    color: #1215ad;
}


#musica li{
    margin: 20px;
}

#musica div {
    display: flex;
    flex-direction: column;
}



main{
    background-color: rgb(128, 64, 12);
    padding: 30px;
    border: solid 2px ;
    border-color: #000000;
}
footer{
    background-color: #8b4b16;
    padding: auto;
    border:solid 2px;
    border-color: #000000;
    margin: auto;
}



#musica p{
    text-align: center;
    align-items: flex-end;
}
#musica a:active{
    text-decoration: underline;
    color: #05359e;

}
#musica a:hover{
    text-decoration: underline;
    color: #05359e;

}
#musica ol{
    flex-direction: column;
    text-align: right;
    align-items: end;
    
}
